.btn {
    background-color: var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--blue);
    min-width: 140px;
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
}
.btn:hover {
    box-shadow: 0px 0px 30px #3a80e9b9;
    transition: all 0.5s;
}
.outlined-btn {
    background-color: var(--black);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--blue);
    min-width: 140px;
    text-align: center;
    text-transform: capitalize;
}
.outlined-btn:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 0px 30px #3a80e9b9;
    transition: all 0.5s;
}