.grid-container {
    width: 300px;
    height: 250px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    position: relative;
}
.grid-container-red:hover {
    border-color: var(--red) !important;
    transition: 0.3s all;
}
.grid-container:hover {
    border-color: var(--green);
    transition: 0.3s all;
}
.info-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.coin-logo {
    height: 3.5rem;
    width: 3.5rem;
}

.coin-symbol {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0rem;
}

.coin-name {
    margin: 0;
    font-weight: 400;
    color: var(--grey) !important;
    font-size: 0.8rem;
}

.chip-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    margin-block: 1rem;
}

.price-chip {
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.25rem 1rem;
    font-weight: 600;
    color: var(--green);
}
.price-chip-red{
    border: 2px solid var(--red);
    border-radius: 2rem;
    padding: 0.25rem 1rem;
    font-weight: 600;
    color: var(--red);
}
.icon-chip {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green);
    color: var(--green);
    border-radius: 50%;
}
.icon-chip-red {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 50%;
}
.price-chip:hover,
.icon-chip:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}
.price-chip-red:hover, .icon-chip-red:hover {
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.info-container h1 {
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.info-container p {
    color: var(--grey);
    margin-block: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.grid-top {
    display: flex;
    justify-content: space-between;
    color: var(--blue);
}
