@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}
a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}
.container {
  width: 65%;
  margin: auto;
}
.grey-wrapper {
  display: block;
  background-color: var(--darkgrey);
  margin: 1rem auto;
  border-radius: 0.8rem;
}
.p1 {
  padding: 1rem;
}
.coin-controls {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .grey-wrapper {
    width: 97%;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
  }
  .container {
    width: 97%;
  }
}
